@media screen and (max-width: 400px){

.imagen{
  background-image: url("https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2021/11/12/16367293961507.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
}
}

@media screen and (min-width: 401px){
.imagen{
  background-image: url("https://cdn.pixabay.com/photo/2022/12/14/19/54/christmas-7656133_1280.jpg") ;
  position: absolute;
  width: 100%;
  height: 100%;
}}